DATABASE_URL=postgresql://usuario:contraseña@localhost:5432/pickgoal
SECRET_KEY=cambia-esto-por-una-clave-segura-aleatoria
FOOTBALL_API_KEY=tu-api-key-de-football-data.org
ODDS_API_KEY=tu-api-key-de-the-odds-api.com
FLASK_ENV=development
FRONTEND_URL=http://localhost:5173
VAPID_PUBLIC_KEY=genera-con-py_vapid
VAPID_PRIVATE_KEY=-----BEGIN EC PRIVATE KEY-----\n...\n-----END EC PRIVATE KEY-----\n
